.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media ($screenS) {
        flex-direction: column;
    }
}
.about__block--width-100p {
    width: 100%;
}
.about__copy {
    font-size: 14px;
    margin-top: 62px;
    margin-bottom: 0;
    text-align: center;
    @media ($screenMobile) {
        margin-top: 30px;
    }
}