.protocol__container {
    padding-top: 13.3%;
    padding-bottom: 10%;
    @media ($screenMobile) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.protocol__wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    @media ($screenMobile) {
        background-image: url(../img/bg-clear__small.png) !important;
    }
}
.protocol__info {
    max-width: 58%;
    text-align: center;
    @media ($screenMobile) {
        max-width: 100%;
    }
}
.protocol__title {
    @media ($screenMobile) {
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.5);
    }
}
.protocol__button {
    width: 100%;
    max-width: 340px;
    margin-top: 6.8125rem;
    @media ($screenMobile) {
        margin-top: 40px;
    }
}
