.search {
    @media ($screenS) {
        margin-top: 30px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.search__title {
    font-family: $fontMain;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    width: 307px;
    @media ($screenS) {
        width: auto;
        text-align: center;
    }
}
.search__form {
    position: relative;
    margin-top: 15px;
    padding-left: 50px;
    border: 1px solid #fff;
}
.search__input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    height: 44px;
    transition: all .3s;
    &:focus {
        outline: none;
        background-color: #fff;
    }
}
.search__submit {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 44px;
    background-color: transparent;
    border: none;
    background-image: url(../img/sprite.png);
    background-position: -1px -7px;
    &:focus {
        outline: none;
    }
}