$colorText:                     #777777;
$colorTitle:                    #45709e;
$colorButtonBg:                 #45709e;
$colorButtonText:               #fff;
$colorLink:                     #787572;
$colorCounter:                  #d9dbe0;
$colorTextHighlighted:          #e7e9eb;

$screenDesktop:                 "max-width:1600px";
$screenLaptopL:                 "max-width:1300px";
$screenLaptop:                  "max-width:1199px";
$screenTablet:                  "max-width:991px";
$screenMobile:                  "max-width:768px";
$screenS:                       "max-width:640px";
$screenXS:                      "max-width:500px";
$screenXXS:                     "max-width:374px";

$fontMain:                      "Open Sans", sans-serif;
$fontTitle:                     "Merriweather", serif;
$fontInput:                     "Calibri", sans-serif;
$fontLink:                      "Arial", sans-serif;
